.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.App-header {  
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.btn {
  background-color: rgb(39, 37, 37);
  color: white; 
  display: inline-block;
  margin-top: 10px;
}

.btn-disabled {
  background-color:rgb(98, 98, 98);
  color: rgb(162, 162, 162);
  display: inline-block;
  margin-top: 10px;
}

.error-msg {
  border: 1px solid red;
}

.error-text {
  color: red
}